@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: 19 100% 88%;
  --foreground: 217 19% 27%;
  --primary: 	206 46% 37%;
  --secondary: 194 76% 29%;
  --tertiary: 16 100% 73%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 19 100% 88%;
    --foreground: 217 19% 27%;
    --primary: 	206 46% 37%;
    --secondary: 194 76% 29%;
    --tertiary: 16 100% 73%;
  }
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

@layer base {
  "@font-face" {
    font-family: "Titillium Web";
    font-style: "normal";
    font-weight: "300 400 500 600 700";
    src: "url(https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap)";
    font-display: "swap";
  }
  "@font-face" {
    font-family: "Montserrat";
    font-style: "normal";
    font-weight: "100 900";
    src: "url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap)";
    font-display: "swap";
  }
  "@font-face" {
    font-family: "JetBrains Mono";
    font-style: "normal";
    font-weight: "300";
    src: "url(https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;1,300&display=swap)";
    font-display: "swap";
  }

  body {
    @apply bg-background text-foreground font-titillium
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 16px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: hsl(var(--background));
    border-radius: 9999px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--tertiary) / 50%);
    border-radius: 9999px;
    width: 12px;
    border: 4px solid hsl(var(--background));
    transition: all 1s;
    background-clip: padding-box;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--tertiary));
    border: 2px solid hsl(var(--background));
  }
}
