@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: 19 100% 88%;
  --foreground: 217 19% 27%;
  --primary: 	206 46% 37%;
  --secondary: 194 76% 29%;
  --tertiary: 16 100% 73%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 19 100% 88%;
    --foreground: 217 19% 27%;
    --primary: 	206 46% 37%;
    --secondary: 194 76% 29%;
    --tertiary: 16 100% 73%;
  }
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: hsl(var(--background));
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--tertiary) / 50%);
    /*background: #e0cbcb;*/
    height: 12px;
    max-height:24px;
    border-radius: 9999px;
    /*border: 1px solid hsl(var(--tertiary) / 50%);*/
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--tertiary));
  }
}
